/* .apoderados-body header{
  display: grid;
  align-items: center;
  background-color: hsl(240, 6%, 10%);
  padding: .8rem 1.2rem;
  gap: 16px;
  & {
    h1 {
      margin: 0;
      color: rgb(250, 250, 250);
      font-size: 1.5rem;
      font-weight: 700;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 8px;

     
    }
  }
} */

.apoderados-busqueda {
  
}

.apoderados-busqueda input{
  font-size: 1.1rem;
  background-color: transparent;
  border: 1px solid #d8d8d8;
  padding: 0.25rem 0rem 0.25rem 1rem;
  border-radius: 8px;
  color: green;
  height: 100%;
  width: calc(100% - 1rem);
}

.apoderados-busqueda input::placeholder {
  color: rgb(150, 150, 150);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.apoderados-busqueda select {
  font-size: 1.1rem;
  border: 0;
  padding: 0.5rem 0;
  border-radius: 0 8px 8px 0px;
}

.lista-apoderados {
  display: grid;
  gap: .5rem;
  padding-inline: 1rem;
}

.lista-apoderados p {
  margin: 0;
}

.lista-apoderados .apoderado-item {
  font-weight: 600;
  padding: .4rem 1rem ;
  list-style: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);

  border-radius: var(--list-border-radius);
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}


.lista-apoderados .apoderado {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.apoderado .apoderado-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.apoderado .apoderado-foto {
  
}

.apoderado-foto img {
  max-height: 50px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 4px;
}

.apoderado .nombre-rut {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.apoderado .nombre {
  font-size: 1rem;
  color: var(--primary-text-color);
  font-weight: 600;
}

.apoderado .datos {
  gap: 1rem;
}

.apoderado .secundario {
  font-size: .9rem;
  color: rgba(0, 0, 0, 0.65);
  font-weight: 400;
}

.apoderado-detalle {
  transition: .2s ease all;
  display: flex;
}
/* 
.apoderado-detalle .detalle-data {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
} */


.apoderado-detalle .detalle-data {
  gap: 1rem;
}
.detalle-data h1 {
  font-size: 1rem;
  margin: 0;
  margin-top: 1rem;
  font-weight: 500;
}



.detalle-data .inscripciones {
  border-radius: var(--list-border-radius);
  /* background-color: rgb(10 28 131); */
  /* color: var(--t-text-color); */
  max-width: fit-content;
  box-sizing: border-box;
  
}

.detalle-data .inscripciones h1 {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
}

.detalle-data .inscripciones table {
  font-size: .9rem;
  font-weight: 100;
}

.detalle-data .inscripciones table thead th {
  font-size: .95rem;
  font-weight: 500;
  padding: 0 1rem 0 0;
  color:rgba(0, 0, 0, 0.74);
}

.detalle-data .inscripciones table th,td{
}

.detalle-data .inscripciones-table tr {
  font-size: .95rem;
}

.detalle-data .inscripciones-table tr:nth-child(odd){
  background-color: rgb(239 238 255);
}

.detalle-data .inscripciones-table tr:nth-child(even){
  background-color: rgb(222, 220, 251);
}

.detalle-data .inscripciones .inscripciones-table .inscripcion td {
  padding: 0 12px 0 0;
}

.detalle-data .inscripciones .inscripcion .activa {
  display: block;
  max-width: 1px;
  height: 10px;
  background-color: rgb(31, 162, 31);
  border-radius: 50%;
  margin: auto;
}

.detalle-data .inscripciones .inscripcion .inactiva {
  padding: 0;
  display: block;
  margin: auto;
  background-color: red;
  max-width: 1px;
  border-radius: 50%;
  height: 10px;
}

.detalle-data .estudiantes {
  text-align: center;
  background-color: purple;
  padding: .5rem;
  border-radius: var(--list-border-radius);
  background-color: rgb(157, 10, 10);
  color: var(--t-text-color);
}

.detalle-data .estudiantes .icon {
  font-size: 3rem;
}

.detalle-data .data-apoderado {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.visible {
  display: block;
}

.no-visible {
  display: none;
}

.plan-detalle {
  display: flex;
  justify-content: space-between;
}
.apoderado-detalle {
  & {
    .detalle-flex {
      display: grid;
    }
    .detalle-estudiantes {
      display: flex;
    }
    .nuevo-estudiante button {
      font-size: .8rem;
      font-weight: 600;
      max-width: max-content;
      border: 2px solid #dbdbdb;
      background-color: #dbdbdb;
      border-radius: 8px;
      cursor: pointer;
    }
    .nuevo-estudiante:hover button {
      background-color: #272727;
      border: 2px solid #272727;
    }
    .nuevo-estudiante button{
      color: rgb(35, 35, 35);
      text-decoration: none;
      padding: .1rem .4rem;
    }
    .nuevo-estudiante:hover button {
    color: #fbfbfb;
    }
    .nuevo-estudiante > dialog > div > form > *{
      display: block;
    }
}

.apoderado-list-estudiante {
  display: grid;
  grid-template-columns: repeat(1,1fr);
  /* display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */

  list-style: none;
  margin-top: .5rem;
  background-color: white;
  & h1 {
    font-size: 1rem;
  }
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.apoderado-item-estudiante {
  margin: 0rem 0rem 1rem 0rem;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  box-sizing: border-box;
  width: 100%;
  padding-block: 4px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: var(--list-border-radius);
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.apoderado-item-estudiante img {
  max-height: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  object-fit: cover;
}

.apoderado-item-estudiante .estudiante-box {
}

.apoderado-item-estudiante .estudiante-info {
  min-width: 26ch; 
  font-weight: 200;
  color: black;
  width: 100%;
  & {
    .nombre-completo {
      font-size: .95rem;
      font-weight: 500;
      min-width: 100%;
    }
    .plan-detalle p {
      font-size: .8rem;
      font-weight: 400;
      color: rgba(0, 0, 0, 0.783);
    }
  }
}}

@media (min-width: 1024px) { 
  /* Estilos para tablets en horizontal o laptops pequeños */
  .detalle-flex {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .datos {
    display: flex;

  }
  /* .apoderados-body header {
    display: flex;
    align-self: center;
    justify-content: space-between;
    margin: 1rem 0;
    & .hamburger {
      display: none;
    }
  } */

  .lista-apoderados {
    padding-inline: 0;
  }

  .apoderado-item-estudiante {
    padding: .5rem 1rem;
    color: red;
  }
}