.eventos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: .5rem;
  & article {
    padding: 0 1rem;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.112);
    display: grid;
    & .top {
      & h3 {
        margin-top: 1rem;
        margin-block: 1rem;
        font-size: 1.4rem;
        font-weight: 600;
      }
      & p {
        margin-bottom: .8rem;
        color: rgb(95, 95, 95);
      }
    }
    & .bottom {
      display: flex;
      justify-content: space-between;
      align-items: end;
        & p {
        font-size: .85rem;
      }
      & .monto {
        font-size: 1.1rem;
        font-weight: 600;
      }
      & .actions {
        padding-bottom: 1rem;
        & button {
          border: 0;
          background-color: transparent;
          margin: 0;
          padding: 0;
          position: relative;
          height: min-content;
          cursor: pointer;
          & .hover-data {
            display: none;
            z-index: 1001;
          }
          &:hover .hover-data{
            display: block;
            position: absolute;
            top: -2rem;
            left: 50%;
            transform: translateX(-50%);
            color: white;
            font-size: .9rem;
            font-weight: 600;
            padding: 4px;
            background-color: rgba(0, 0, 0, 0.85);
            border-radius: 4px 4px 0 0;
          }
          & svg {
            width: 1.2rem;
            height: 1.2rem;

            
          }
      }
    }
    }
  }
}