.main-flex {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
  padding-inline: 1rem;
}

.main-flex nav {
  border-right: 1px solid red;
  & h1 {
    font-size: 1.3rem;
  }
  & {
    ul {
      list-style: none;
    }
  }
}
.ul-nav {
  padding: 0;
  display: grid;
  gap: 1rem;
}