.link-nav {
  max-width: 100%;
}
.link-nav a{
  text-decoration: none;
  display: flex;
  max-width: 100%;
  align-items: center;
  justify-content: start;
  gap: 8px;
  padding: .2rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #04c;
  transition: .1s ease-in;
  &:hover {
    color: rgb(0, 68, 160);
    text-decoration: underline 1px solid rgb(0, 68, 160);
  }

  & svg {
    color: #04c;

  }
}