:root {
  --border-color: transparent;
}

.form-transaccion{
  display: grid;
  font-size: 1.2rem;
  & {
    input {
      font-size: 1.1rem;
    }
    select {
      font-size: 1.1rem;
    }
    option {
      font-size: 1rem;
    }
  }
}

.transacciones-list {

  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  & {
    .list {
      margin: 0;
      padding: .5rem 1rem;
      display: grid;
      gap: 1rem;
    }
    .list > * {
      
    }
    .list li {
      padding: 1rem .5rem;
      color: hsl(240 3.8% 45%);
    }

    .list-headers {
      gap: 1rem;
      text-align: left;
      color: hsl(240, 3%, 41%);
      border-bottom: 1px solid #e5e7eb;
      display: none;
      

    }
    .list-trans {
      display: grid;
      grid-template-columns: 1fr;
      font-size: .95rem;
      gap: 1rem;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      border-radius: 4px;
      border-top: 20px solid var(--border-color);
      border-inline: 1px solid rgba(36, 36, 36, 0.1);
      
      & {
        span {
          color: #141414;

        }
        .fecha {
        }
        .categoria{

        }
        .monto {
          font-weight: 500;
          & .data {
            font-weight: 400;
          }
        }
        .desc {

        }
        .apoderado {

        }
        .evento {

        }
        .tipo {
          
        }
        .acciones {
          display: flex;
          gap: 4px;

          & button {
            border: 0;
            background-color: transparent;
            margin: 0;
            padding: 0;
            position: relative;
            height: min-content;
            & .hover-data {
              display: none;
              z-index: 1001;
            }
            &:hover .hover-data{
              display: block;
              position: absolute;
              top: -2rem;
              left: 50%;
              transform: translateX(-50%);
              color: white;
              font-size: .9rem;
              font-weight: 600;
              padding: 4px;
              background-color: rgba(0, 0, 0, 0.85);
              border-radius: 4px 4px 0 0;
            }
            & svg {
              width: 1.2rem;
              height: 1.2rem;

              
            }
          }
        }
        ;
      }
    }
  }
}

.list-trans:hover {
  
    background-color: hsl(240,4.8%,95.9%, 60%)
}

@media (min-width:1024px) {
  .transacciones-list .list-headers{
    display: grid;
    /* grid-template-columns:100px 120px 100px 1.5fr 1fr 1fr .5fr; */
    grid-template-columns: repeat(7, minmax(0,1fr));
    gap: 2rem;
    font-weight: 600;
    position: sticky;
    top: 0;
    background-color: rgba(224, 224, 224, 0.2);
    backdrop-filter: blur(10px);
    z-index: 1000;
  } 
  .transacciones-list .list-trans {
    border-radius: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
    border-inline: none;
    
  }

  .transacciones-list .list {
    gap: 0;
  }

  .transacciones-list .list li {
    /* grid-template-columns: 100px 120px 100px 1.5fr 1fr 1fr .5fr; */
    grid-template-columns: repeat(7, minmax(0,1fr));
    gap: 2rem;

    padding: 1rem 0rem;
    color: hsl(240 3.8% 45%);
    & .monto {
      text-align: right;
    }
  }
  .transacciones-list {
    & {
      .list-trans {
        display: grid;
      box-shadow: none;

        & span {
          display: none;
        }

        &::before {
          display: none;
        }

      }      
    }
  }
}